<div class="icon-container">
    <div>
        <FaIcon class="save-icon" @icon={{this.iconName}} @size="2x" />
    </div>
    <p class="save-text">{{this.iconText}}</p>
</div>

<br />
<div id="myDiagramDiv" {{did-insert this.setupChart}} style="width:100%; height:200px; background-color: #DAE4E4;">
</div>