<div id="myDiv"></div>
<h1>djhks</h1>

<FaIcon @icon={{this.iconName}} @size="4x" />
{{!-- <FaIcon @icon="sync-alt" @size="4x" /> --}}
<p>{{this.iconName}}</p>

<button {{on "click" this.changeIcon}}>CLICK ME</button>